<!DOCTYPE html>
<html>
  <head>
    <title>BiasScanner</title>
  </head>
<body>
  <h1>BiasScanner</h1>
  <h2>Analyze a Web News Story for Bias</h2>
  <form action="/news/" method="POST">
    <label form="urllabel">Web News Address: </label><p/>
    <input type="text" len="4096" size="80" id="url" name="url" value="https://edition.cnn.com/europe/live-news/russia-ukraine-war-news-07-02-23/index.html"> <input type="submit" id="submit" name="submit" value="Submit">
    <p/>
    Enter or copy &amp; paste the Web address (URL) of a news story you wish to analyze for bias into the form and press the 'submit' button.
  </form>
</body>
</html>
